/* Global tags */

* {
    box-sizing: border-box;
}

body {
    background-color: #2A2E45;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5em;
    color: white;
}


a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

/* Command input line */

.prefix {
    color: #6b6c75;
}

.username {
    color: #7fa6f9;
}

.input-command {
    color: white;
}

.host {
    color: #7fa6f9;
}

.dir {
    color: #f28340;
}

/* Command output */

.banner {
    font-family: Monospace;
    margin: 0;
}

/* Mobile devices compatibility */
@media only screen and (max-width: 600px) {
    body {
        font-size: 0.9em;
    }
    .banner {
        font-size: 0.7em;
    }
}
