/* Global tags */

* {
    box-sizing: border-box;
}

body {
    background-color: #2A2E45;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: white;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

/* Command input line */

.prefix {
    color: #6b6c75;
}

.username {
    color: #7fa6f9;
}

.input-command {
    color: white;
}

.host {
    color: #7fa6f9;
}

.dir {
    color: #f28340;
}

/* Command output */

.banner {
    font-family: Monospace;
    white-space: pre;
}

